.question-text {
  text-align: center;
  color: black;
  margin: 40px 0 20px;;
}


.main-container{
  display: flex;
  height: 80vh;
  justify-content: center;
}
.container {
  display: flex;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 550px;
  border: 1px solid black;
}

.answer-text {
  font-size: 20px;
  font-weight: bold;
}

.right-answer {
  background: rgb(201, 230, 201);
}

.wrong-answer {
  background: rgb(250, 218, 223);
}

.question-image {
  margin: 70px 0 30px 0;
  object-fit: cover;
}